body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 2.5rem;
  margin-top: 50px;
}

.titles {
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

h1,
h3 {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.label {
  min-width: 110px;
}

.range {
  min-width: 200px;
}

.text {
  background-color: transparent;
  font-size: 1rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px dotted;
  max-width: 30px;
  margin-left: 20px;
}

.color {
  border: solid 1px lightgrey;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 20px;
  height: 120px;
  width: 450px;
  margin-top: 45px;
}

/* Responsive Design */

@media screen and (max-width: 375px) {
  .flex-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .label {
    min-width: 0;
  }

  .text {
    margin-top: 10px;
    margin-left: 0;
    max-width: 30px;
  }

  .color {
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    height: 50px;
    width: 350px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 376px) and (max-width: 667px) {
  body {
    margin-top: 20px;
  }
  .color {
    height: 50px;
  }
}

@media screen and (min-width: 668px) and (max-width: 768px) {
  body {
    zoom: 1.55;
  }
  .flex-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .label {
    min-width: 0;
  }

  .text {
    margin-top: 10px;
    margin-left: 0;
    max-width: 30px;
  }

  .color {
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 10px;
    height: 50px;
    width: 350px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    zoom: 1.5;
  }

  .color {
    height: 120px;
  }
}
