body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  line-height: 2.5rem;
  margin-top: 50px;
}

.titles,
.container {
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

h1,
h3 {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.label {
  min-width: 110px;
}

.range {
  min-width: 200px;
}

.text {
  background-color: transparent;
  font-size: 1rem;
  border: 0;
  max-width: 50px;
  margin-left: 20px;
}

.color {
  border: solid 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 20px;
  height: 150px;
  width: 150px;
  margin-top: 40px;
}
